*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.theme-light{
    --background-color:#000000;
    --font-color: #ffffff;
    --primary-color: #ff0000;
    --shade: #00000078;
}

.theme-dark{
    --background-color:#ffffff;
    --font-color: #000000;
    --primary-color: #0015ff;
    --shade: #ffffff78;

}

body{
    background-color: var(--background-color);
}

p{
    color: var(--font-color);
}

h1,h2,h3{
    color: var(--font-color);
}

/*HEADER*/
header>div>img{
    width: 40px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 5vh;
}

footer>img{
    height: 4vh;
}