*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --background-color: #5fcfcb;
    --font-color: #0000ff;
    --primary-color: #cdff83;
    --accent-color: #eeff00;
}

p,.bx{
    color: var(--font-color);
}
body{
    background-color: var(--background-color);
}

/*HEADER*/

header>.headertop>img{
    width: 48px;
    height: 48px;
}

header>.headertop{
    display: flex;
    justify-content: center;
    align-items: center;
}
header>.headertop>.iconsdiv{
    display: flex;
}

header>.headertop>.iconsdiv>.menu-toggle{
    overflow: hidden;
}

header>.headertop>.iconsdiv>.menu-toggle:hover .optionsmenu{
    display: flex;
    flex-direction: column;
}

header>.headertop>.iconsdiv>.menu-toggle>.optionsmenu{
    background-color: var(--background-color);
    position: absolute;
    display: none;
}

header>.headerbottom>ul{
    display: flex;
    justify-content: space-evenly;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
}
footer>img{
    height: 48px;
}