*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --background-color: #00b6b0;
    --font-color: #000;
    --primary-color: #cdff83;
    --accent-color: #eeff00;
}

p,.bx{
    color: var(--font-color);
}
body{
    background-color: var(--background-color);
}

/*HEADER*/

header>.headertop>img{
    width: 48px;
    height: 48px;
}

header>.headertop{
    display: flex;
    justify-content: center;
    align-items: center;
}
header>.headertop>.iconsdiv{
    display: flex;
}

header>.headertop>.iconsdiv>.menu-toggle{
    overflow: hidden;
}

header>.headertop>.iconsdiv>.menu-toggle>.optionsmenu{
    background-color: var(--background-color);
    position: absolute;
    display: none;
    z-index: 1;
}

header>.headertop>.iconsdiv>.menu-toggle:hover .optionsmenu{
    display: flex;
    flex-direction: column;
}

header>.headerbottom>ul{
    display: flex;
    justify-content: space-evenly;
}

/*HOME*/
.sectionoffers{
    height: 40%;

}

.sectionoffers>.listcontainer{
    overflow: auto;
    overflow-y: hidden;
    display: flex;
    position: relative;

}

.sectionoffers>.listcontainer>article{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    overflow: auto;
}
.sectionoffers>.listcontainer>article:hover{
    scale: 1.1;
}

.sectionoffers>.listcontainer>article>img{
    height: 300px;
}


.sectionoffers>.listcontainer>article>p{
    

}

/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
}
footer>img{
    height: 48px;
}